* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* base */
body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #F5F5F5;
}




/* HERO */
.hero {
    background-color: #000;
    color: #fff;
    padding: 2rem 1.5rem;
    text-align: left;
}



hero h1 {
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}



.hero p {
    margin-bottom: 1.5rem;
}



.btn-primary {
    display: inline-block;
    background-color: #FFCC00;
    color: #000;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}




/* SECTIONS */
.section {
    padding: 2rem 1.5rem;
}




.section-light {
    background-color: #fff;
}





.section h2 {
    font-family: Poppins, sans-serif;
    margin-bottom: 1.5rem;
}




/* CARDS */
.card-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 0.75rem;
}

.card h3 {
    margin-bottom: 0.5rem;
}



.btn-secondary {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
}


.card-list {
    display: flex;    /*Gør containeren fleksibel så børnen kan styres nemt*/
    flex-direction: column; /*mobile first elementerne står lodret som en kolonne*/
    gap: 1rem;              /*luft mellem kortene*/
}


.campus-list,
.events-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}



.card img {
    width: 100%;
    border-radius: 6px;
}


.card h3 {    /*overskrifter i cards*/
    margin: 0.5rem 0;
}

